Nombre: Elias David Diaz Salgado
Curso: Ingenieria Mecanica
Actividad: Examen Parcial
Nombre: Elias David Diaz Salgado
Email: elias.diazs@upb.edu.co
Fecha: 3/10/25

In [47]:

print("Por favor, me podrias regalar un numero ?")

date = float(input())
if date == 1: print("Lunes")
if date == 2: print("Martes")
if date == 3: print("Miercoles")
if date == 4: print("Jueves")
if date == 5: print("Viernes")
if date == 6: print("Sabado")
if date == 7: print("Domingo")
else : print("por favor, escribe un numero del 1 al 7, mensaje de error")

Por favor, me podrias regalar un numero ?
9
por favor, escribe un numero del 1 al 7, de no ser asi este mensaje volvera a aparecer

Start

  Declare VL = integer
  Declare Ttl = Integer

  Display ("ingrese el numero de latas")

  input CL

  TtL = 12900
  VL= (CL+TtL)
  if CL > 10: VL = (VL/100)*10
  if Cl < 30: VL = VL - 65000
  display VL

End

In [78]:
VL = int
Ttl = int
print("ingrese el numero de latas")
CL = int(input())
Ttl = 12900
VL = (CL*Ttl)
if CL>10: VL = VL - (VL/100)*10
if CL>30: Vl = VL - 65020
print(VL)

ingrese el numero de latas
60
761620.0